<div class="box mt-5">
    <div class="my-2 w-25">
        <label for="category" class="my-2">Category:</label>
        <select id="category" class="form-control" (change)="filterCategory($event)">
            <option value="All" selected>All</option>
            <option value="{{option}}" *ngFor="let option of categories">{{option}}</option>
        </select>
    </div>

    <div class="row" *ngIf="!loading">
        <div class="col-md-3 col-sm-12" *ngFor="let item of products">
            <div class="item">
                <img src="{{item.image}}" alt="">
                <div class="body">
                    <h4>{{item.title}}</h4>
                    <p>{{item.description}}</p>
                </div>
                <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
                    <button class="btn btn-success">Add to Cart</button>
                    <span>{{item.price}} TL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
    
</div>
