    <div class="box" >
      <div class="product-details" *ngIf="!loading">
        <img src="{{data.image}}" alt="Product Image">
        <h1><strong>ID:</strong>{{data.id}}</h1>
        <h1><strong>Title:</strong>{{data.title}}</h1>
        <h1><strong>Category:</strong>{{data.category}}</h1>
        <p><strong>Description:</strong>{{data.description}}</p>
        <p><strong>Rete:</strong>{{data.rating.rate}}/5</p>
        <p><strong>Rating Count:</strong>{{data.rating.count}}</p>
        <p><strong>Price:</strong>{{data.price}}</p>
      </div>
      <div class="text-center" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
    </div>
    
