<div class="item">
    <div routerLink="/details/+{{data.id}}">
        <img src="{{data.image}}" alt="">
        <div class="body">
            <h4>{{data.title}}</h4>
            <p>{{data.description}}</p>
        </div>
    </div>
    <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
        <button class="btn btn-success" *ngIf="!addButton" (click)="addButton=true">Add to Cart</button>
        <div class="d-flex" *ngIf="addButton">
            <input type="number" class="form-control m-1 w-50" [(ngModel)]="amount">
            <button class="btn btn-danger" (click)="add()">Add</button>
        </div>
        <span>{{data.price}} TL</span>
    </div>
</div>